In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Dataset_w6.xlsx")

In [3]:
df

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0
...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),SouthAmerica,912050.0,31977.0,11068.9,118.0,16324.0
192,Viet Nam,South-easternAsia,330967.0,95541.0,2067.9,136.0,174111.0
193,Yemen,WesternAsia,527968.0,28250.0,1106.4,136.0,6861.0
194,Zambia,EasternAfrica,752612.0,17094.0,1311.1,179.0,7442.0
195,Zimbabwe,EasternAfrica,390757.0,16530.0,890.4,99.0,5212.0

In [4]:
df['country'].count()

196

In [5]:
df['Region'].value_counts()

WesternAsia          18
EasternAfrica        17
Caribbean            16
WesternAfrica        15
SouthAmerica         12
SouthernEurope       12
South-easternAsia    11
EasternEurope        10
NorthernEurope       10
SouthernAsia          9
MiddleAfrica          9
CentralAmerica        8
WesternEurope         7
EasternAsia           7
SouthernAfrica        5
Polynesia             5
NorthernAfrica        5
Melanesia             5
CentralAsia           5
NorthernAmerica       4
Micronesia            4
Oceania               2
Name: Region, dtype: int64

In [38]:
df1=df.groupby('Region')['GDP per capita (current US$)'].mean()

In [39]:
df1

Region
Caribbean            15135.562500
CentralAmerica        6348.137500
CentralAsia           4329.880000
EasternAfrica         2088.852941
EasternAsia          27967.614286
EasternEurope         9292.490000
Melanesia             9261.960000
Micronesia            5008.300000
MiddleAfrica          3928.833333
NorthernAfrica        3934.960000
NorthernAmerica      57659.000000
NorthernEurope       42098.220000
Oceania              44823.250000
Polynesia             8686.520000
South-easternAsia    10299.027273
SouthAmerica          8499.775000
SouthernAfrica        4191.900000
SouthernAsia          2968.400000
SouthernEurope       14462.741667
WesternAfrica         1013.140000
WesternAsia          17013.938889
WesternEurope        55387.128571
Name: GDP per capita (current US$), dtype: float64

In [40]:
df1.nlargest(1)

Region
NorthernAmerica    57659.0
Name: GDP per capita (current US$), dtype: float64

In [52]:
df2=df.groupby('Region')['International trade: Imports (million US$)'].mean()

In [54]:
df2.nlargest(1)

Region
NorthernAmerica    663552.25
Name: International trade: Imports (million US$), dtype: float64

In [50]:
df3=df.groupby('Region')['GDP per capita (current US$)'].std()

In [49]:
df3.nsmallest(1)

Region
WesternAfrica    815.095399
Name: GDP per capita (current US$), dtype: float64